h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.teste{
  background-color: blue;
  color: white;
  width: 20%;
}
.italic{
  font-size: 20px;
  font-style: italic;
}
